<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new product</a>
<h1>Product</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Detail</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="product : ${products}">
    <tr>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.quantity}"></td>
      <td th:text="${product.detail}"></td>
      <td th:if="${product.category}" th:text="${product.category.name}"></td>
      <td th:unless="${product.category}"></td>
      <td><a th:href="@{/edit-customer/__${product.id}__ }">Edit</a></td>
      <td><a th:href="@{/delete-customer/__${product.id}__ }">Delete</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>